@{

    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoes</title>
    <link rel="stylesheet" href="~/CSS/Product.css">
    <link rel="stylesheet" href="~/CSS/ThanhICON.css">
</head>
<body>
    <div class="products">
       
        <!-- Phần tiêu đề sản phẩm mới nhất -->
        <div class="products-section">
            <h2 class="new-products-title">Sản phẩm mới nhất</h2>
            <section class="new-products">
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE LINESET NAM - TRẮNG XANH.jpg" alt="GIÀY LACOSTE LINESET NAM - TRẮNG XANH" class="product-image">
                    <p>
                        GIÀY LACOSTE LINESET NAM - TRẮNG XANH
                    </p>
                    <p class="original-price">Giá gốc: <span class="line-through">3.150.000₫</span></p>
                    <div class="discount-percentage">Giảm 27% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.290.000₫ VNĐ</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN.jpg" alt="GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN" class="product-image">
                    <p>GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN</p>
                    <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                    <div class="discount-percentage">Giảm 25% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value"></span>2.890.000₫ </p>

                </div>
                <!-- Các sản phẩm mẫu bổ sung -->
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN.jpg" alt="GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN" class="product-image">
                    <p>GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN</p>
                    <p class="original-price">Giá gốc: <span class="line-through"></span>3.850.000₫</p>
                    <div class="discount-percentage">Giảm 28% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.790.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH.jpg" alt=GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH" class="product-image">
                    <p>GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH</p>
                    <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                    <div class="discount-percentage">Giảm 25% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
                </div>


                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Nike/GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG.jpg" alt="GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG" class="product-image">
                    <p>GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2,950,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 19% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.390.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Nike/GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG.jpg" alt="GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG" class="product-image">
                    <p>GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.950.000₫</span></p>
                    <div class="discount-percentage">Giảm 22% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.290.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Nike/GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU.jpg" alt="GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU" class="product-image">
                    <p>GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.830.000₫</span></p>
                    <div class="discount-percentage">Giảm 12% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.430.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NỮ - HỒNG.jpg" alt="GIÀY NIKE PROMINA NỮ - HỒNG" class="product-image">
                    <p>GIÀY NIKE PROMINA NỮ - HỒNG</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.400.000₫</span></p>
                    <div class="discount-percentage">Giảm 17% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NAM - TRẮNG ĐEN.jpg" alt="GIÀY NIKE PROMINA NAM - TRẮNG ĐEN" class="product-image">
                    <p>GIÀY NIKE PROMINA NAM - TRẮNG ĐEN</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.400.000₫</span></p>
                    <div class="discount-percentage">Giảm 17% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X Mix Puma ‘White Angel Blue’ 380462-02.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X Mix Puma ‘White Angel Blue’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">3,799,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 50%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,800,000 VNĐ</span></p>
                </div>

                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG XANH.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG XANH" class="product-image">
                    <p>GIÀY LACOSTE L001 124 NAM - TRẮNG XANH</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.890.000₫</span></p>
                    <div class="discount-percentage">Giảm 25% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY" class="product-image">
                    <p>GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY</p>
                    <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                    <div class="discount-percentage">Giảm 25% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU" class="product-image">
                    <p>GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU</p>
                    <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                    <div class="discount-percentage">Giảm 25% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Adidas/GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ.jpg" alt="GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ" class="product-image">
                    <p>GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ</p>
                    <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                    <div class="discount-percentage">Giảm 21% </div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">1.590.000₫</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X TRACKS 369332-06.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X TRACKS</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">2,799,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 10%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,600,000 VNĐ</span></p>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
