@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoes</title>
    <link rel="stylesheet" href="~/CSS/Product.css">
    <link rel="stylesheet" href="~/CSS/ThanhICON.css">
</head>
    <body>
        <div class="products">
            <div class="benefits-container">
                <div class="benefit-item">
                    <i class="icon fa fa-check-circle"></i>
                    <p>Hàng chính hãng 100%</p>
                </div>
                <div class="benefit-item">
                    <i class="icon fa fa-truck"></i>
                    <p>Miễn phí giao hàng với đơn &gt;500k</p>
                </div>
                <div class="benefit-item">
                    <i class="icon fa fa-sync-alt"></i>
                    <p>Đổi hàng 30 ngày, bảo hành 12 tháng</p>
                </div>
            </div>
            <!-- Phần tiêu đề sản phẩm mới nhất -->
            <div class="products-section">
                <h2 class="new-products-title">Sản phẩm mới nhất</h2>
                <section class="new-products">
                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Court FF 2 ‘Mako Blue’ 1041A083-400.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics Court FF 2 ‘Mako Blue’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">3,050,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 10%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">2,750,000 VNĐ</span></p>
                    </div>


                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Court FF 3 OC ‘Steel Blue Lime’ 1041A369-400.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics Court FF 3 OC ‘Steel Blue Lime’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">1.690.000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 45%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">999.999 VNĐ</span></p>
                    </div>

                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Court FF 2 Novak ‘White Mako Blue’ 1041A083-102.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics/Asics Court FF 2 Novak ‘White Mako Blue’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">2,850,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 15%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">2.300,00 VNĐ</span></p>
                    </div>

                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Court FF 3 OC ‘Steel Blue Lime’ 1041A369-400.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics Court FF 3 OC ‘Steel Blue Lime’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">2.390.000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 15%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">2,000,000 VNĐ</span></p>
                    </div>


                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Court FF Novak ‘Blue Print Camo’ 1041A089-403.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics Court FF Novak ‘Blue Print Camo’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">2.299.000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 10%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">2,000,000 VNĐ</span></p>
                    </div>

                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Asics Gel-Contend 4 ‘White Gray’ T8D9Q-202.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Asics Gel-Contend 4 ‘White Gray’</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">1,800,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 25%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">750,000 VNĐ</span></p>
                    </div>

                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Giày Bóng Chuyền Asics Gel-Tactic 12.jpg" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Giày Bóng Chuyền Asics Gel-Tactic</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">3,430,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 15%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">3,000,000 VNĐ</span></p>
                    </div>
                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/GiayAsics GEL TACTIC.jpg" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">GiayAsics GEL TACTIC</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">2,800,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 50%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">1,400,000 VNĐ</span></p>
                    </div>
                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/Asics/Tennis Asics Gel Resolution 8 ‘Indigo Fog’ 1041A079-500.png" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">Tennis Asics Gel Resolution 8</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">5,000,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 50%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">2,500,000 VNĐ</span></p>
                    </div>
                    <div class="product-item">
                        <div class="labels">
                            <div class="label new-arrival">HÀNG MỚI VỀ</div>
                            <div class="label sale">SIÊU SALE</div>
                        </div>
                        <img src="~/Content/IMG/giayden.jpg" alt="Sản phẩm 3" class="product-image">
                        <p class="product-name">giayden</p> <!-- Thêm lớp 'product-name' -->
                        <p class="original-price">Giá gốc: <span class="line-through">3,600,000 VNĐ</span></p>
                        <div class="discount-percentage">Giảm 50%</div>
                        <p class="current-price">Giá hiện tại: <span class="current-price-value">1,300,000 VNĐ</span></p>
                    </div>

                </section>
            </div>
        </div>

    </body>
</html>
