
@{
    ViewBag.Title = "ChinhSachDoiTra";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<body style="background-color: white;">
    <link href="~/CSS/ChinhSachDoiTra.css" rel="stylesheet" />
    <div class="container">
        <div class="policy-content">

            <h1>CHÍNH SÁCH BẢO HÀNH,ĐỔI HÀNG</h1>
            <h2>I.chính sách bảo hành sản phẩm</h2>
            <i>Myshoes.vn cam kết tất cả các sản phẩm là hàng chính hãng 100%!</i>
            <p>Trong quá trình sử dụng, nếu phát hiện sản phẩm có những vấn đề do lỗi của nhà sản xuất. Thời gian bảo hành trong vòng 06 tháng kể từ ngày mua (chỉ bảo hành các lỗi như bong keo, sứt chỉ).</p>
            <p>Lưu ý: Myshoes.vn sẽ không bảo hành nếu quý khách tự ý thay đổi, sửa chữa và tác động vào sản phẩm hoặc không làm theo phương pháp bảo quản, cách sử dụng dẫn đến sản phẩm bị hư hại.</p>
            <h3>II. Chính sách đổi hàng và hoàn tiền</h3>
            <p>- Myshoes.vn đổi hàng trong 30 ngày kể từ ngày Quý khách nhận hàng đối với sản phẩm chưa sử dụng còn nguyên vẹn như lúc nhận hàng (nguyên hộp, tem, mác, hóa đơn, thẻ bảo hành,...).</p>
            <p>- Myshoes.vn hoàn tiền 200% cho Quý khách nếu Quý khách phát hiện hàng giả, hàng nhái.</p>
            <i>Mọi thông tin về việc bảo hành, đổi hàng Quý khách vui lòng liên hệ với bộ phận chăm sóc khách hàng của Myshoes.vn.</i>
            <br />
            <i> Số điện thoại: 0xxx xxx xxx</i>
            <br />
            <i>Email: cskh@email.vn</i>

        </div>
    </div>
</body>
