@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin liên hệ</title>
</head>
<body>
    <link rel="stylesheet" href="~/Content/LienHeCSS.css">
    <div class="container">
        <div class="main-content">
            <div class="map-section">
                <iframe src="https://www.google.com/maps?q=828%20S%C6%B0%20V%E1%BA%A1n%20H%E1%BA%A1nh,%20Qu%E1%BA%ADn%2010,%20TPHCM&output=embed"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info-section">
                <div class="info-item">
                    <h3>828 ,Đường Sư Vạn Hạnh</h3>
                    <p>Đại học Ngoại Ngữ - Tin Học, HUFLIT</p>
                </div>
                <div class="info-item">
                    <h3>HOTLINE</h3>
                    <p>SDT: 0973711868</p>
                </div>
                <div class="info-item">
                    <h3>THỜI GIAN LÀM VIỆC</h3>
                    <p>Thời gian làm việc: 7:30 - 16:30</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
