@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoes</title>
    <link rel="stylesheet" href="~/CSS/Product.css">
    <link rel="stylesheet" href="~/CSS/ThanhICON.css">
</head>
<body>
    <div class="products">

        <div class="benefits-container">
            <div class="benefit-item">
                <i class="icon fa fa-check-circle"></i>
                <p>Hàng chính hãng 100%</p>
            </div>
            <div class="benefit-item">
                <i class="icon fa fa-truck"></i>
                <p>Miễn phí giao hàng với đơn &gt;500k</p>
            </div>
            <div class="benefit-item">
                <i class="icon fa fa-sync-alt"></i>
                <p>Đổi hàng 30 ngày, bảo hành 12 tháng</p>
            </div>
        </div>
        <!-- Phần tiêu đề sản phẩm mới nhất -->
        <div class="products-section">
            <h2 class="new-products-title">Sản phẩm mới nhất</h2>
            <section class="new-products">
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X Cream ‘White Peacoat’ 374292-01.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X Cream ‘White Peacoat’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">2,670,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 25%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,300,000 VNĐ</span></p>
                </div>


                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X Mix ‘White Tigerlily’ 380462-01.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X Mix ‘White Tigerlily’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">2,400,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 15</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,200,000 VNĐ</span></p>
                </div>

                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X Mix Puma ‘White Angel Blue’ 380462-02.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X Mix Puma ‘White Angel Blue’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">3,799,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 50%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,800,000 VNĐ</span></p>
                </div>

                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X Toys ‘White Red’ 369449-24.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X Toys ‘White Red’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">5,700,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 50%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,900,000 VNĐ</span></p>
                </div>


                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X TRACKS 369332-06.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X TRACKS</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">2,799,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 10%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,600,000 VNĐ</span></p>
                </div>

                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X3 ‘Grids – Ultra Grey Metallic Silver’ 374138-02.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X3 ‘Grids – Ultra Grey Metallic Silver’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">1,800,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 15%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">1,500,000 VNĐ</span></p>
                </div>

                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RS-X3 ‘Puzzle White’ 371570-03.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RS-X3 ‘Puzzle White’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">3,699,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 45%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,800,000 VNĐ</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma RSX Reinvention ‘Red Blast’ 369579-01.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma RSX Reinvention ‘Red Blast’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">2,499,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 25%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">2,000,000 VNĐ</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma Tyakasha x RS-X ‘Whisper White’ 371027-01.png" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma Tyakasha x RS-X ‘Whisper White’</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">4,800,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 45%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">3,000,000 VNĐ</span></p>
                </div>
                <div class="product-item">
                    <div class="labels">
                        <div class="label new-arrival">HÀNG MỚI VỀ</div>
                        <div class="label sale">SIÊU SALE</div>
                    </div>
                    <img src="~/Content/IMG/Puma/Puma x Kang Daniel RS-X3 375170-26.jpg" alt="Sản phẩm 3" class="product-image">
                    <p class="product-name">Puma x Kang Daniel RS-X3</p> <!-- Thêm lớp 'product-name' -->
                    <p class="original-price">Giá gốc: <span class="line-through">1,000,000 VNĐ</span></p>
                    <div class="discount-percentage">Giảm 10%</div>
                    <p class="current-price">Giá hiện tại: <span class="current-price-value">900,000 VNĐ</span></p>
                </div>

            </section>
        </div>
    </div>

</body>
</html>
