@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}
@using ThucHanhLanCuoi.Models
@model ThucHanhLanCuoi.Models.ViewModel.HomeProductVM
<title>Trang Sản Phẩm</title>
<body>
   
    <div>
        @Html.Partial("_PVFeatureProduct",Model)
    </div>
</body>

