
@{
    ViewBag.Title = "spnk9";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shoes</title>
    <link rel="stylesheet" href="~/CSS/Product.css">
    <link rel="stylesheet" href="~/CSS/ThanhICON.css">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/CSS/aaa.css">
    <link rel="stylesheet" href="~/CSS/bbb.css">
    <link rel="stylesheet" href="~/CSS/ccc.css">
    <link rel="stylesheet" href="~/CSS/ddd.css">

</head>

<body>
    <div class="body-wrapper">
        <!-- Nội dung phần body -->
        <div class="product_image_area">
            <div class="container">
                <div class="row s_product_inner">
                    <div class="col-lg-6">
                        <div class="s_Product_carousel">
                            <div class="single-prd-item">
                                <img class="img-fluid" src="https://myshoes.vn/image/cache/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-01-800x800.jpg.webp" alt="">
                            </div>
                            <div class="single-prd-item">
                                <img class="img-fluid" src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-04.jpg" alt="">
                            </div>
                            <div class="single-prd-item">
                                <img class="img-fluid" src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-05.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="s_product_text">
                            <h3>Giày Nike DownShifter 13 Nữ - Xanh Ngọc</h3>
                            <h2>1.990.000</h2>
                            <ul class="list">
                                <li><a class="active" href="#"><span>thể loại</span> : giày thể thao</a></li>
                                <li><a href="#"><span>chất lượng</span> : trên cả tuyệt vời chống bom đạn thoải mái</a></li>
                            </ul>
                            <h1>
                                Mô tả sản phẩm
                            </h1>
                            <p>
                                Giày Nike DownShifter 13 Nữ - Xanh Ngọc một mẫu giày thời trang có thiết kế đẹp mắt với nhiều cải tiến so với phiên bản Advantage trước đó. Chất liệu da cao cấp bền đẹp cùng với bộ lót Cloudfoam Comfort êm ái khiến bạn khó có thể bỏ qua.
                            </p>

                            <div class="card_area d-flex align-items-center">
                                <a class="primary-btn" href="#">Thêm Vào Giỏ Hàng.</a>
                                <!--gắn link vào giỏ hàng-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Single Product Area =================-->
        <!--================Product Description Area =================-->
        <section class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                           aria-selected="false">Thông Tin Sản Phẩm</a>
                    </li>
                </ul>
                <div class="description-content">
                    <div class="text">
                        <h1>Tại sao khách hàng lựa chọn Myshoes?</h1>
                        <p>✓ 100% Hàng chính hãng, giấy chứng nhận chính hãng</p>
                        <p>✓ Uy tín hơn 8 năm được khẳng định trên toàn quốc</p>
                        <p>✓ Đổi hàng trong 30 ngày, bảo hành 1 năm, hậu mãi trọn đời</p>
                        <p>✓ Nhân viên tư vấn tận tình, dịch vụ khách hàng tốt nhất</p>
                        <p>✓ Hơn 60.000 khách hàng đã tin tưởng lựa chọn Myshoes.vn</p>
                        <p>✓ 99% khách hàng hài lòng về chất lượng sản phẩm, dịch vụ</p>
                        <p>✓ Miễn phí vận chuyển toàn quốc với đơn trên 500.000đ</p>
                        <p>✓ Giá cả hợp lý, hệ thống điểm thưởng, quà tặng hấp dẫn</p>
                    </div>
                    <div class="image">
                        <img src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-01.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </section>

        <div class="article-container">
            <!-- Chữ bên trái, ảnh bên phải -->
            <div class="section layout-inline">
                <div class="text">
                    <h2>
                        Bao quát về giày
                    </h2>
                    <p>
                        Đế giày được làm từ vật liệu bền bỉ, có khả năng chống trơn trượt cực tốt, không chỉ giúp bạn di chuyển dễ dàng mà còn đảm bảo an toàn khi tham gia các hoạt động thể thao hay đi lại trên các địa hình khác nhau.
                    </p>
                </div>
                <div class="image">
                    <img src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-06.jpg" alt="Hình ảnh bên phải">
                </div>
            </div>
        </div>
        <div class="article-container">
            <!-- Ảnh bên trái, chữ bên phải -->
            <div class="section layout-inline">
                <div class="image">
                    <img src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-03.jpg" alt="Hình ảnh bên trái">
                </div>
                <div class="text">
                    <h2>Giày Nike DownShifter 13 Nữ - Xanh Ngọc</h2>
                    <p>
                        Giày Nike DownShifter 13 Nữ - Xanh Ngọc có thiết kế tối giản nhưng vô cùng tinh tế, dễ dàng kết hợp với nhiều phong cách trang phục khác nhau, giúp bạn luôn nổi bật và trẻ trung trong mọi hoàn cảnh, từ đi học đến dạo phố.
                    </p>
                </div>
            </div>
        </div>
        <div class="article-container">
            <!-- Chữ bên trái, ảnh bên phải -->
            <div class="section layout-inline">
                <div class="text">
                    <h2>Chất liệu trên cả tuyệt vời</h2>
                    <p>
                        Với chất liệu cao cấp, đôi giày mang lại cảm giác mềm mại, thông thoáng cho đôi chân, giúp bạn cảm thấy thoải mái dù phải di chuyển suốt ngày dài. Đây là sự lựa chọn lý tưởng cho những ai yêu thích sự tiện nghi và phong cách.


                    </p>
                </div>
                <div class="image">
                    <img src="https://myshoes.vn/image/catalog/2024/nike/nk6/giay-nike-downshifter-13-nu-xanh-ngoc-01.jpg" alt="Hình ảnh bên phải">
                </div>
            </div>
        </div>


        <script src="~/Scripts/jquery-2.2.4.min.js"></script>
        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
        <script src="~/Scripts/jquery.nice-select.min.js"></script>
        <script src="~/Scripts/jquery.sticky.js"></script>
        <script src="~/Scripts/owl.carousel.min.js"></script>
        <script src="~/Scripts/main.js"></script>
    </div>
</body>
